@font-face {
  font-family: 'helvetica-neue-thin';
  src: url('../fonts/helvetica-neue-thin.otf');
}

@font-face {
  font-family: 'helvetica-neue-ultra-thin2';
  src: url('../fonts/helvetica-neue-ultra-thin2.otf');
}

body {
  font-family: helvetica-neue-ultra-thin2, sans-serif;
  font-size: 20px;
}

h1 {
  font-family: helvetica-neue-thin, sans-serif;
}

.hn-thin {
  font-family: helvetica-neue-thin, sans-serif;
}

.row {
  width: 60%;
}

.color-text {
  font-size: 12px;
}

.light-grey {
 width: 100px;
 height: 100px;
 background-color: rgb(244,244,244);
}

.blue {
 width: 100px;
 height: 100px;
 background-color: rgb(0,147,255);
}

.white {
 width: 100px;
 height: 100px;
 border: 1px solid #d2d2d2;
}